name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-release:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Create distribution folder
        run: |
          mkdir -p dist/caletz
          cp -r package/* dist/caletz/

      - name: Compress dist
        run: cd dist && zip -r ../caletz-${{ github.ref_name }}.zip caletz

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: caletz-${{ github.ref_name }}.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}